*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-color: #cddeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color:#2a2a2a;
    justify-content: space-between;
    flex-wrap: wrap;
     position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    color: #388e8d;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: flex;
}

header a {
    text-decoration: none;
    color: #388e8d;
}

.flex-container-nav {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;

}

.flex-container-nav ul {
    list-style-type: none;
}

.flex-container-nav li {
    display: inline;

}

.flex-container-nav a {
    display: block;
    padding: 8px;
    color: #388e8d;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;

}

.hero-image {

}

.hero-subhead {

}

.about-me {

}

.about-me-bio {

}

.my-work {

}

.projects {

}

.projects ul {

}

.projects ul li {

}

.projects ul li a {

}

.surf-report {

}

.text-block {

}

.text-block h3 {

}

.text-block p {

}

.led-wall {

}

.calculator {

}

.pastel-puzzles {

}

.run-buddy {

}

.contact-me {

}

.contacts {

}

.contacts ul {

}

.contacts ul li {

}

.contacts ul li a {

}

.resume {

}











/* header section */

/* header {
    padding: 10px 0 10px 0;
    background-color: #2a2a2a;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9998; */
}

/* .header {

} */

.box-header {
    background-color: #388e8d;
    height: 5px auto;
    width: fit-content;
    display: flex;
    flex-wrap:wrap;
}

.box-header h1 a {
    font-weight: bold;
    font-size: 50px;
    color:#06344e;
    margin: 5px;
    display: flex;
    z-index: 9999;
    text-decoration: none;
    opacity: 1.0;
}

/* header a {
    color: #388e8d;
    border-bottom: #388e8d;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    display: inline;
    justify-content: right;
}

header nav ul li a {
    font-size: 1.6vw;

} */

/* hero section*/

/* .box-hero {
    position: absolute;
    right: 0px;
    justify-content: center;
    background-color:#388e8d;
    color: #06344e;
}

.hero {
    background-image: url(../assets/images/2.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 20%;
}
.box-hero h2 {
    color: #06344e;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
}

.flex-column {
    display: flex;
}

.section-title {
    color: #388e8d;

}

.bio {
    flex-direction: column;
    display: flex;
    text-align: right;

}

.sidebar {
    margin: 40px auto;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 30%
}

.sidebar h2 {
    color: #063f4e;
    font-size: 50px;
}

.sidebar-inside {
    border-left: 7px solid #063f4e;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
}

.big-picture img {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.normal-picture img {
    width: 30%;
    margin top: 15px;
    margin bottom: 15px;
    display: inline;
}

.photo-gallery {
    padding: 15px auto;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;

}

.project {
    background-color: #388e8d;
    padding: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    width: fit-content;
}

.project-name h3 {
    color: #06344e;
    padding top: 5px;
    text-align: center;
    font-weight: bold;
}

.project-type h4 {
    color: #06344e;
}

.contacts {
    padding: 20px;
    border-left: solid 10px #06344e
}
.contacts ul li {
    color: #06344e;
    display:inline-flex;
    list-style: none;

}

.container {
    position: relative;
}
.project {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color:#388e8d;
    color: #06344e;
} */