*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    color: #648c4c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #46420d;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: #388e8d;
    margin: 0;
    display: flex;
    text-shadow: 0 0 10px;
}

header a {
    color: #388e8d;
    border-bottom: #388e8d;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}